<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie = edge">
    <title>Заголовок сторінки </title>
    <style>
      body {background-color: #b57c86;}
      h1 {color: white; font-size: 2em}
      p {color: #fafafa; font-size: 1.1em}
      </style>
  </head>
  <body>
    <%- include ('blocks/header.ejs') %>
    <h1>Сторінак напитку - <%=drink.getName()%> </h1>
    <p>Ціна напою <%=drink.getName()%> дорівнює<%=drink.getPrice()%></p>
  </body>
</html>
