<ul>
<a class="p-2 text-dark" href="/">Главная</a>
<a class="p-2 text-dark" href="/About">Про нас</a>
<a class="p-2 text-dark" href="/Drinks">Напитки</a>
<a class="p-2 text-dark" href="#">Цены</a>
  </ul>
